.page-header {
    padding: 8px 16px;
    background: linear-gradient(to bottom, #555555, rgb(190, 190, 190));
    color: #fff;
}

@media (min-width: 1024px)
{
    .page-header {
        padding: 16px 48px;
    }
}