* {
    margin: 0;
    padding: 0;
}

.search__module {
    background: linear-gradient(to bottom, #909192, rgb(70, 70, 70));
    color: #000;
    padding: 20px 0;  
}

.search__titulo {
    text-align: center;
    padding: 0.75rem 0;
}

.search__cBotoes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.75rem 0;
    width: 85%;
    margin: 0 auto;

}

.search__busqueda {
    display: flex;
    padding-left: 1rem;
    width: 100%;
}


.search__inputGrand {
    border: none;
    width: 100%;
    height: 1.75rem;
    padding: 0 1rem;
    border-radius: 10px; 
    font-size: 1rem;   
}

.search__inputGrand:hover, .search__inputGrand:focus {
    outline: none;
    border: 1px solid #19191a;

}
.search__lupa {
    margin-left: -1.5rem;
    margin-top: 0.25rem;

}

.search__lupaP {
    font-size: 1rem;
}

@media screen and (min-width: 1000px) {

    .search__inputGrand {
        font-size: 1rem;
        width: 80%;
    }
    .search__busqueda {
        justify-content: flex-end;
        width: 80%;
    }

}